.uv-0,
.uv-1, 
.uv-2 {
    background-color: rgb(3, 192, 3);
}

.uv-3,  
.uv-4 {
    background-color: rgb(208, 255, 0);
} 

.uv-5, 
.uv-6, 
.uv-7 {
    background-color: rgb(209, 160, 0);
}

.uv-8, 
.uv-9 {
    background-color: rgb(221, 88, 0);
} 

.uv-10, 
.uv-11 {
    background-color: rgb(230, 46, 0);
} 

.uv-12, 
.uv-13 {
    background-color: rgb(255, 0, 106);
}